/* ==common styles== */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}

a{
    text-decoration: none;
}

main{
    max-width: 1320px;
    margin: 0 auto;
}
/* ==common styles== */
/* ==banner part style start== */
#banner_part{
    background: url(../images/Banner\ Image.png);
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 50px;
    padding: 177px 344px;
}

#banner_part .banner_text{
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 16px;
}

#banner_part .banner_description{
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
}

/* ==banner part style end== */
/* ==discount part start== */
#discount_part{
    margin: 120px 0;
}

#discount_part .discount_text{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
}

#discount_part .discount_details{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin: 48px 0 16px;
}

#discount_part .discount_catagory{
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}

#discount_part .discount_image{
    display: flex;
    justify-content: center;
    margin-top: 48px;
}
/* ==discount part end== */
/* ==welcome part style start== */
#welcome_part{
    background: url(../images/Vectorrr.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 68px 140px 68px 125px;
    display: flex;
}

#welcome_part .welcome_title{
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    width: 642px;
    margin-top: 60px;
}

#welcome_part .welcome_text{
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 697px;
    margin: 24px 0 48px;
}

#welcome_part .welcome_btn{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    background: none;
    border: none;
    cursor: pointer;
}
/* ==welcome part style end== */
/* ==Venue part style start== */
#venue_part{
    background: linear-gradient(to bottom, #f7c4c4, #fadbdb5c);
    margin: 120px 0;
    text-align: center;
    padding: 100px 0 110px;
}

#venue_part span{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
}

#venue_part .venue_details{
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
}

#venue_part .venue_btn{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    padding: 16px 32px;
    border-radius: 8px;
    background: #F00;
    border: none;
    margin-top: 48px;
}
/* ==Venue part style end== */
/* ==offer part start== */
#offer_part{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#offer_part .offer_left .new_offer{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

#offer_part .offer_left .offer_title{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin: 16px 0 22px;
}

#offer_part .offer_left .offer_details{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    width: 393px;
}

.offer_middle{
    width: 463px;
    height: 463px;
    flex-shrink: 0;
    border-radius: 463px;
    border: 15px solid #F00;
    position: relative;
}

.offer_middle img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

#offer_part .offer_right .offer_year{
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}

#offer_part .offer_right .offer_details{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    width: 276px;
    margin: 16px 0 43px;
}
/* ==offer part end== */
/* ==sales part start== */
#sales_part{
    margin: 120px 0;
}

#sales_part .sales_text{
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}

#sales_part .sales_title{
    color: #F00;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    margin: 16px 0 28px;
}

#sales_part .sales_description{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    text-align: center;
    margin-bottom: 64px;
}



#sales_part .sales_container .sales_up{
    display: flex;
    justify-content: space-between;
}
/* 
#sales_part .sales_container .sales_up .sales_gift{
    position: absolute;
} */

#sales_part .sales_container .sales_up .sales_discount{
    left: 0;
}
/* ==sales part end== */
/* ==portfolio part start== */
#portfolio_part h5{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

#portfolio_part h3{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
}

#portfolio_part p{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    width: 896px;
    margin: 22px 0 48px;
}

#portfolio_part .portfolio_gift{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

#portfolio_part .portfolio_gift .gift{
    width: 424px;
    border-radius: 16px;
}



/* ==portfolio part end== */